@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/topography.png");
   }

.top-bar {
    position: sticky;
    top: 0px;
    height: 50px;
    padding: 0px 10%;
    background-color: #333333;
}

.top-bar img{
    padding: 8px 0px;
  }

.top-bar a{
    float: right;
    padding: 14px 15px;
    color: #FF0099;
    font-size: 17px;
  }

.top-bar a:hover{
    background-color: mintcream;
  }

.about-me h1{
    margin: 80px 10% 30px;
    font-size: 40px;
    color: #000000;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.about-me h2{
    margin: 15px 10%;
    font-size: 25px;
    color: #FF0099;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.about-me p{
    margin: 5px 10%;
    font-size: 15px;
    line-height: 1.5;
    color: #1C0004;
    font-family: Courier;
    font-weight: bolder;
}

#technologyWikiSep {
    margin: 40px 10%;
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-family: Courier;
    font-weight: bolder;
}

.wiki h1{
    margin: 30px 10%;
    text-align: center;
    font-size: 40px;
    color: #000000;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.wiki h2{
    margin: 30px 10%;
    font-size: 25px;
    color: #000000;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.wiki p{
    margin: 30px 10%;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    color: #1C0004;
    font-family: Courier;
    font-weight: bolder;
}